$bkg-color: #ffffff;

.container {
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 100px auto 10%;
  align-content: space-evenly;
  padding: 0;
  margin: 0;
}

.mainItem {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

body {
  background-color: $bkg-color;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Open Sans", sans-serif;
}

section {
  width: 80%;
  margin: 1em auto;
  padding: 0em;
}
div {
  margin: 0em auto;
  padding: 0em;
  background-color: $bkg-color;
  border-radius: 0.5em;
  /* box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02); */
}
a.link:link,
a.link:visited {
  color: #38488f;
  text-decoration: none;
}
script {
  width: 600px;
}
