.postGrid {
  display: grid;
  grid-template-columns: 10% 65% 25%;
  grid-template-rows: 30px 15px;
  text-align: left;
  justify-content: start;
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-size: 16px;
  border-radius: 0px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 8px;
  border: 1px solid rgba(0, 0, 0, 0.187);
}

.listPost {
  height: 60px;
  width: 600px;
  list-style-type: none;
  border-radius: 0px;
}

.topList {
  display: grid;
  justify-content: center;
  grid-column-gap: 0px;
  grid-row-gap: 3px;
  padding: 0px;
}

.dropDown {
  width: 300px;
  text-align: left;
}
