node_modules
.DS_Store
package-lock.json
yarn.lock
.vscode
__pycache__
frontend/build/asset-manifest.json
frontend/build/index.html
frontend/build/manifest.json
frontend/build/precache-manifest.6a4e56a329ddb3a58e0e050d72ec6839.js
frontend/build/robots.txt
frontend/build/service-worker.js
frontend/build/static/css/main.039d5949.chunk.css
frontend/build/static/css/main.039d5949.chunk.css.map
frontend/build/static/js/2.b6cb953f.chunk.js
frontend/build/static/js/2.b6cb953f.chunk.js.LICENSE.txt
frontend/build/static/js/2.b6cb953f.chunk.js.map
frontend/build/static/js/main.11cc203c.chunk.js
frontend/build/static/js/main.11cc203c.chunk.js.map
frontend/build/static/js/runtime-main.1556a128.js
frontend/build/static/js/runtime-main.1556a128.js.map
frontend/build/static/media/logo270.0d93585d.png
