.GraphFetcherDiv {
	position: absolute;
	left: 2%;
	right: 2%;
	background-color: white;
	height: 98%;
	width: 96%;
}

.GraphContainer {
	height: 350px;
	width: 90%;
	top: 10%;
	left: 5%;
	position: relative;
}
